<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Total"
            android:label="@string/app_name_total"
            android:parentActivityName=".HelloToast"></activity>
        <activity
            android:name=".TwoActivities_second"
            android:label="@string/app_name_secondActivity"
            android:parentActivityName=".TwoActivities" />
        <activity
            android:name=".TwoActivities"
            android:label="@string/app_name_twoActivities"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScrollView"
            android:label="@string/app_name_scrollview"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelloToast"
            android:label="@string/app_name_helloToast"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>